

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-top: 3rem;
  }

}

.main-links-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  margin: 2rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: .5rem;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }

  a:hover {
    color: blue;
    transform: scale(1.2);
  }
}

.daily-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond';
  margin: 3rem;
  padding: 1rem;
}

.daily-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #FAFCC2;
  padding: 1.5rem;
  // box-shadow: .5rem .5rem black;
  border-radius: .5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0 darken(#CCF6C8, 40%);

  h4 {
    margin-bottom: 2.5rem;
  }
}

.form-option {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 0.3rem;
}

